@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #0987A0, #805AD5);
}


.filter {
  filter: drop-shadow(2px 2px 10px rgba(18, 52, 86, .4));
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  margin: auto;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3182ce; 
  border-radius: 50%;   
  animation: spinner 1s linear infinite;
}